<div class="left_menu">
    <h2>Page tree</h2>
    {% PageTree pageTree currentPage %}
    <h2>Actions</h2>
    <ul class="actions">
        <li><a id="newpage_link" class="ui-state-default ui-corner-all" href="/edit/"><span class="ui-icon ui-icon-plus"></span>New page</a></li>
        <li><a id="imageStore_link" class="ui-state-default ui-corner-all" href="/edit/imageStore/"><span class="ui-icon ui-icon-image"></span>ImageStore</a></li>
        <li><a id="imageStore_link" class="ui-state-default ui-corner-all" href="/edit/geocategory/"><span class="ui-icon ui-icon-image"></span>Geo Categories</a></li>
        <li><a id="users_link" class="ui-state-default ui-corner-all" href="/edit/users/"><span class="ui-icon ui-icon-person"></span>Users</a></li>
        <li><a id="logout_link" class="ui-state-default ui-corner-all" href="/edit/logout/"><span class="ui-icon ui-icon-power"></span>Logout</a></li>
    </ul>
</div>
