<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="google-site-verification" content="zkWIXuPFTnHaBzXDv8T_urM5X5XA-bpnTurTFDtyjKA" />
        <title>{% block title %}{%endblock%} &ndash; </title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
        <link rel="stylesheet" href="/ui/styles/main.css" type="text/css" />
        <!--[if IE]>
            <script type="text/javascript">
                document.createElement("article");
                document.createElement("footer");
                document.createElement("header");
                document.createElement("hgroup");
                document.createElement("nav");
                document.createElement("section");
                document.createElement("time");
            </script>
        <![endif]-->
    </head>

    <body id="index" class="home">
        {% block content %}
        {% endblock %}
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
        <script type="text/javascript" src="/ui/scripts/opt/util.js"></script>
        <script type="text/javascript" src="/ui/scripts/opt/core.js"></script>
        <script>
          window.fbAsyncInit = function() {
            FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                     xfbml: true});
            FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
              window.location.reload();
            });
          };
          (function() {
            var e = document.createElement('script');
            e.type = 'text/javascript';
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
          }());
        </script>
        <!--<script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-18579449-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script> -->
    </body>
</html>