{% extends "index.html" %}
{% block title %}{{ pageModule.name }}{% endblock %}

{% block content %}
    <div class="content {{ pageType }}">
        <!-- Start of first page -->
        <div data-role="page" id="start">
            <div data-role="header">
                <h1>{{ pageContent.MainHeading }}</h1>
            </div><!-- /header -->
            <div data-role="content" data-theme="c">
                <fb:login-button autologoutlink="true"></fb:login-button>
                {% if current_user %}
                    <p><a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.id }}/picture?type=square"/></a></p>
                    <p>Hello, {{ current_user.name|escape }}</p>
                {% endif %}
            
                <div id="fb-root"></div>
                {% autoescape off %}
                {{ pageContent.MainTextBox }}
                {% endautoescape %}
                <div data-role="fieldcontain" data-theme="a">
                    <fieldset data-role="controlgroup">
                        <legend>{{ pageContent.SubHeading }}</legend>
                       <a href="/en-us/reportpage/?spotType=1" data-role="button">Report</a> 
                       <a href="/en-us/reportpage/?spotType=2" data-role="button">Idea</a> 
                    </fieldset>
                </div>
            </div><!-- /content -->
    
            <div data-role="footer">
                <h4>&nbsp</h4>
            </div><!-- /footer -->
        </div><!-- /page -->
    </div>
{% endblock %}
